.body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(25, 11, 67, 26);
  flex-direction: column;
  text-align: left;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: fit-content;
}

#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* behind everything */
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  max-width: 900px; /* or whatever you like */
  margin: 0 auto;   /* centers content horizontally */
  font-family: "Roboto Mono", sans-serif;
}

#about > * {
  margin-bottom: 25px;
}

.list li {
  margin-bottom: 10px;
}
.multimedia {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.multimedia p {
  margin-right: 10px;
}

.body img {
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
}

.sub-nav p {
  margin-left: 15px;
}

a {
  color: rgb(247, 248, 182, 97);
  position: relative;
  text-decoration: none;
}

#about a {
    text-decoration: underline;
}

#about li {
    margin-top: 5px;
    margin-bottom: 5px;
}

a:hover {
  color: rgb(255, 138, 71, 100);
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: center;
  gap: 20px;
}

.images img {
  max-width: 100%;
  height: auto;
  display: block;
}



.image-container {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about {
  color: rgb(255, 106, 111, 100);
  max-width: 900px;
}

b {
  font-weight: 700;
  color: rgb(247, 248, 182, 97);
}

#background-canvas {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1; /* Places the canvas behind other elements */
  pointer-events: none; /* Ensures clicks and mouse events pass through to elements below */
  width: 100%; /* Adjust the canvas size to cover the entire viewport */
  height: 100%; /* Adjust the canvas size to cover the entire viewport */
}

#title {
  color: rgb(17, 170, 247, 97);
}

#blogs {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .multimedia {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #about {
    max-width: 300px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .sub-nav p {
    margin-left: 15px;
  }
}

